datasets                                                                                                                                                 
torch==2.1.2                                                                                                                                             
tqdm                                                                                                                                                     
transformers==4.38.1                                                                                                                                     
accelerate                                                                                                                                               
peft                                                                                                                                                     
tyro>=0.5.7                                                                                                                                              
vllm==0.3.2
bitsandbytes==0.42.0
wandb
