-e .[dev]
unsloth_zoo
packaging
tyro
transformers>=4.46.1
datasets>=2.16.0
sentencepiece>=0.2.0
tqdm
psutil
wheel>=0.42.0
numpy
accelerate>=0.34.1
peft>=0.7.1
protobuf<4.0.0
huggingface_hub
hf_transfer
bitsandbytes>=0.45.1
unsloth[cu124onlytorch260]
unsloth[flashattention]
