name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    paths:
      # Run only when relevant files are modified
      - ".github/**.yml"
      - "examples/**.py"
      - "scripts/**.py"
      - "tests/**.py"
      - "trl/**.py"
      - "pyproject.toml"
      # Exclude if only experimental code/tests
      - "!trl/experimental/**"
      - "!tests/experimental/**"

env:
  TQDM_DISABLE: 1
  CI_SLACK_CHANNEL: ${{ secrets.CI_PUSH_MAIN_CHANNEL }}
  PYTORCH_CUDA_ALLOC_CONF: "expandable_segments:True"

jobs:
  check_code_quality:
    name: Check code quality
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  distributed_smoke:
    name: Distributed smoke tests
    runs-on:
      group: aws-g4dn-2xlarge
    container:
      image: pytorch/pytorch:2.8.0-cuda12.8-cudnn9-devel
      options: --gpus all
    defaults:
      run:
        shell: bash
    if: github.event.pull_request.draft == false
    env:
      CUDA_VISIBLE_DEVICES: "0,1"
    steps:
      - name: Git checkout
        uses: actions/checkout@v6

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Make and Git
        run: |
          apt-get update && apt-get install -y make git curl

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Create Python virtual environment
        run: |
          uv venv
          uv pip install --upgrade setuptools wheel

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          uv pip install ".[dev]"

      - name: Run distributed smoke tests
        run: |
          source .venv/bin/activate
          pytest -v tests/distributed/test_distributed.py
