on:
  push:

name: Secret Leaks

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Secret Scanning
      uses: trufflesecurity/trufflehog@v3.93.1
      with:
        # exclude buggy postgres detector that is causing false positives and not relevant to our codebase
        extra_args: --results=verified,unknown --exclude-detectors=postgres
